body {
	margin: 0px;
	background: linear-gradient(to right, #009fff, #ec2f4b);
}
.App {
	font-family: sans-serif;
	text-align: center;
	height: 100vh;
	padding-top: 20%;
}

.btn {
	font-size: 2rem;
	border: none;
	width: 8rem;
	height: 8rem;
	border-radius: 8rem;
	cursor: pointer;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}
.blue {
	background-color: blue;
}
.grey {
	background-color: grey;
}
.orange {
	background-color: orange;
}

.orchid {
	background-color: orchid;
}
.peru {
	background-color: peru;
}
